* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White-container: hsl(0, 0%, 100%);
  --LightGray-body: hsl(212, 45%, 89%);
  --GrayishBlue-paragraph: hsl(220, 15%, 55%);
  --DarkBlue-heading: hsl(218, 44%, 22%);
}

body {
  background-color: var(--LightGray-body);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17vh;
}

h1,
p,
a {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

img {
  width: 290px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 320px;
  background-color: var(--White-container);
  padding: 15px;
  border-radius: 15px;
}

.heading-qr-desc {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--DarkBlue-heading);
  padding-top: 20px;
  padding-left: 13px;
}

.para-qr-desc {
  color: var(--GrayishBlue-paragraph);
  padding: 15px 13px 20px 13px;
}

.footer-para,
.attribution {
  font-size: 0.8rem;
  color: hsl(217, 45%, 22%);
}
