/* Create a flex container */
*,
h1,
p,
a {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray-color: hsl(212, 45%, 89%);
  --grayish-blue-color: hsl(220, 15%, 55%);
  --dark-blue-color: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray-color);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--dark-blue-color);
  font-weight: 700;
  font-size: 21px;
}

p {
  color: var(--grayish-blue-color);
  font-size: 15px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  height: 470px;
  border-radius: 15px;
  margin: 80px;
}

.image-qr-code img {
  width: 250px;
  margin: 15px;
  border-radius: 10px;
}

.qr-code-description {
  text-align: center;
  align-items: center;
  width: 250px;
  padding: 15px;
}

.desc-para{
  padding-top: 15px;
}

.attribution p {
  color: #000000;
  font-size: 12px;
  margin-top: auto;
}