/* Create a flex container */
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray-color: hsl(212, 45%, 89%);
  --grayish-blue-color: hsl(220, 15%, 55%);
  --dark-blue-color: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray-color);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
}

h1 {
  color: var(--dark-blue-color);
}

p {
  color: var(--grayish-blue-color);
}

.layout-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  margin: 70px 30px;
  height: 500px;
  border-radius: 5%;
  align-items: center;
}

.image-qr-code img {
  width: 290px;
  margin-top: 17px;
  border-radius: 5%;
}

.qr-code-description {
  text-align: center;
  padding-top: 20px;
}

.desc-heading,
.desc-para {
  width: 260px;
}

.desc-para {
  padding-top: 15px;
}

@media screen and (min-width: 425px) and (max-width: 1440px) {
  .layout-container {
    width: 320px;
    margin: 100px auto;
  }
}